<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>error occurs</title>

    <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>
<div class="main">
	<div align="center" class="head"></div>
	<div class="content">
		<p>
		   	<div align="center"  style="color:red">Error occurs!</div>
		 </p>
	
	 	<p>
		   	<div align="center"> 
		   				<input class="btn" type="button" value="Back" onclick="window.history.back()" />  
		   	</div>
		 </p>
	</div>	 
</div>
</body> 

 </html>