<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>FIX client conformance test center/ Solution Save/Update</title>

    <link href="../css/common.css" rel="stylesheet"/>
</head>
<body>
    <div class="main">
        <div style="text-align: center;" class="head">FIX client conformance test center/ Solution Save/Update</div>
        <div class="content">

            <div align="center">
                <span style="margin: 10px 0;display: block;">Save/Update solution Successfully.</span>
            </div>
            <div align="center">
                <input class="btn" type="button" value="Back" style="width: auto;padding: 0 30px;" onclick="window.location.href='/admin/solutionSearch'" />
            </div>

            <!--<ul class="contentUl">
                <li>
                    <div class="titleText">

                    </div>
                    <div class="contentBlock">
                        <span style="margin: 10px 0;display: block;">Save/Update solution Successfully.</span>
                    </div>
                </li>
                <li>
                    <div class="titleText">
                    </div>
                    <div class="contentBlock">
                        <input class="btn" type="button" value="Back" style="width: auto;padding: 0 30px;" onclick="window.location.href='/admin/solutionSearch'" />
                    </div>
                </li>
            </ul>-->
            <!--<p>
                <div align="center">
                        <input class="btn" type="button" value="Save/Update solution Successfully" style="width:300px" onclick="window.location.href='/admin/solutionSearch'" />
                </div>
            </p>-->
        </div>
    </div>
</body>

</html>